.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
}

.Gallery {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;

  img {
    max-width: 100%;
  }

  .button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: -80px;
    bottom: -80px;

    &:focus {
      outline: 0;
    }

    & > .arrow {
      width: 60px;
    }
    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}

.footer {
  .text {
  }
  .a-link {
    text-decoration: underline;
    color: #060606;
    &:hover {
      color: #655d5d;
    }
  }

  .instagram-link {
  }

  .slash {
    padding: 4px;
  }

  .email-link {
  }
}
