.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  width: 100%;
  font-size: 0.85rem;
  height: 100%;
}

header h1 {
  font-weight: 200;
  font-size: 0.85rem;
  margin-bottom: 10px;
}

.Gallery {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;

  .images {
    transition: transform 0.4s cubic-bezier(0.31, 0.97, 0.82, 0.48),
      opacity 0.5s ease;
    opacity: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  #hover-button-left,
  #hover-button-right {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  #hover-button-left {
    right: 50%;
    cursor: url(/images/prev.png), auto;
  }
  #hover-button-right {
    left: 50%;
    cursor: url(/images/next.png), auto;
  }

  .button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: -80px;
    bottom: -80px;

    &:focus {
      outline: 0;
    }

    & > .arrow {
      width: 60px;
    }
    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}

.footer {
  position: relative;
  z-index: 2;
  padding: 7px;
  cursor: default;

  .text {
  }
  .a-link {
    text-decoration: underline;
    color: #060606;
    &:hover {
      color: #655d5d;
    }
  }

  .instagram-link {
  }

  .slash {
    padding: 4px;
  }

  .email-link {
  }
}

@media (max-width: 650px) {
  .Gallery .button {
    top: initial;
    bottom: -20px;
  }
  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;

    .text {
      display: none;
    }
  }
  header {
    position: absolute;
    top: 10px;
  }
}
